@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
  background-color: currentColor;
}

a {
  color: gold;
}

a:visited {
    color: white;
}

a:hover {
  color: white;
}

section>div {
    margin-top: 100px;
}

h3 {
    padding-top: 50px;
}

img {
    border-radius: 5px;
    width: 550px;
}

header {
    background-image: linear-gradient(45deg, #4DA3FF, #007BFF, #0063CC, #003E80);
    height: 450px;
}

main {
    border-color: #FFBE4D;
    border-style: solid;
    border-radius: 20px;
    color: white;
    margin-top: 20px;
    width: 65%;
    text-align: center;
    text-indent: 15px;
    float: right;
}

main:hover {
    animation: principal 1s ease forwards alternate;
}

#apresentacao {
    border-color: #FFBE4D;
    border-style: solid;
    border-radius: 20px;
    color: white;
    margin-top: 30px;
    padding: 50px;
    width: 700px;
    margin: 15px auto;
}

#apresentacao:hover {
    animation: entrada 2s ease forwards alternate;
}

#titulo {
    color: azure;
    padding: 30px;
    text-transform: full-width;
    text-align: right;
    position: relative;
    top: 100px;
    font-size: 18pt;
    font-family: 'Roboto', sans-serif;
    padding-right: 15px;
}

#index {
    color: white;
    margin-top: 20px;
    width: 300px;
}

@keyframes entrada  {
    to {
        border-color: #FFA200;
    }
}

@keyframes principal {
    to {
        border-color: #FFA200;
    }
}
