* {
    box-sizing: border-box;
}

section>div {
    margin-top: 200px;
}

#apresentação {
    margin-top: 30px;
    padding: 50px;
    border-color: aqua;
    border-style: solid;
}

main {
    margin-top: 50px;
    padding: 50px;
    border-color: aqua;
    border-style: solid;
}

#titulo {
    color: azure;
    padding: 65px;
    width: 40%;
}
#index {
    color: beige;
    margin-top: -270px;
    padding-right: 20px;
}

li>a {
    color: aqua;
}