* {
    box-sizing: border-box;
}

section>div {
    margin-top: 100px;
}

#apresentação {
    margin-top: 30px;
    padding: 50px;
    border-color: #FFA200;
    border-style: solid;
}

header {
    background-image: linear-gradient(to right, #007bff, #0063ce);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main {
    margin-top: 50px;
    padding: 50px;
    border-color: #FFA200;
    border-style: solid;
}

h3 {
    padding-top: 50px;
}

a:visited {
    color: blueviolet;
}

#titulo {
    color: azure;
    padding: 20px;
    width: 40%;
}

#index {
    margin-top: 30px;
}

img {
    max-width: 700px;
    max-height: 700x;
    width: auto;
    height: auto;
}